* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}
body {
  background-color: var(--backgroundColor);
}
a {
  text-decoration: none;
}
:root {
  --buttonColor: #1446a4;
  --iconColor: #50a3dd;
  --backgroundColor: #f5fbfa;
  --continueBackColor: #1346a4;
}
